<h2 class="page-header"><%= author.name%></h2>
<div class="btn-row btns">
  <a href="/authors/<%= author.id%>/edit" class="btn btn-primary">Edit</a>
  <%- include('../partials/deleteform', { url: `/authors/${author.id}` }) %>
</div>
<% if (booksByAuthor.length > 0) { %>
<h2 class="page-header">Books By <%= author.name%></h2>
  <%- include('../partials/bookGrid', {books: booksByAuthor})%>
 <% } %>
